.boton {
    background-color: #000000;
    color: white;
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    margin: 5px;
    transition: background-color 1.3s ease, color 1.3s ease;


    &:hover {
        background-color: rgb(201, 0, 0);
        color: black;
    }
}