@mixin tt ($color, $align) {
    font-weight: bolder;
    color: $color;
    text-align: $align;

}

.contacttitle {
    @include tt (#ffffff, center);

}

.nh {
    @include tt (#fffbc1, center);

}

.producttitle {
    @include tt (#ffffff, center);
}

.gallery {
    @include tt (#ffffff, center);
}