//variables
$logo-width: 30px;
$logo-height: 30px;
$animation-duration: 1s;
$animation-iteration-count: infinite;
$animation-name: pulse;

// Animación de pulsación del logo
@keyframes #{$animation-name} {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.container-fluid img {
    width: $logo-width;
    height: $logo-height;
    animation: #{$animation-name} $animation-duration ease-in-out $animation-iteration-count;
}

.product {
    img {
        transition: transform 0.3s ease;
        position: relative;

        &:hover {
            transform: translateY(-10px);
            box-shadow: 0 0 20px rgba(255, 215, 0, 0.8);

        }
    }
}

/*loader (Funcionalidad Futura)


.loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #8d0606e1; 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; 
}


.loader {
    border: 8px solid #b9ef06; 
    border-radius: 50%;
    border-top: 8px solid #f3f3f3; 
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

Animación del spinner 
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
    */